*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  height: 100vh;
  padding-top: 50px;
  color: white;
  font-size: 18px;
  background: rgb(47,101,169);
  background: linear-gradient(45deg, rgba(47,101,169,1) 0%, rgba(0,66,150,1) 100%);
}

main{
  max-width: 500px;
  margin: 0 auto;
}

#container-elementi{
  margin-top: 10px;
  list-style-type: none;
}

li{
  height: 30px;
  display: flex;
  align-items: center;
}

span{
  margin-left: 10px;
}

.container-inserisci{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.inserisciElemento{
  height: 30px;
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  font-size: 18px;
  padding-right: 35px;
}

.modificaElemento{
  height: 30px;
  width: calc(100% - 62px);
  margin-left: 10px;
  padding-left: 5px;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 3px solid white;
  font-size: 18px;
  outline: none
}

button{
  padding: 3px 6px;
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  color: white;
  border: none;
  position: absolute;
  right: 0;
  outline: none;
}

i, button{
  cursor: pointer;
}

ul li i{
  margin-right: 10px;
}

.fa-edit{
  display: inline-block;
}

.fa-edit.nascondi{
  display: none;
}

.fa-save{
  display: none;
}

.fa-save.mostra{
  display: inline-block;
}

.modificaElemento{
  display: none;
}

.modificaElemento.mostra{
  display: inline-block;
}

.fa-save{
  display: none;
}

span{
  display: inline-block;
}

span.nascondi{
  display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-size: 18px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-size: 18px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-size: 18px;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-size: 18px;
}
